
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin Dashboard</title>
  <link href="/dist/output.css" rel="stylesheet" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="/assets/logoOnly.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx.org/dist/htmx.min.js"></script>
  <script src="/js/minified/app.min.js"></script>
</head>
<body class="bg-gray-100">

<div class="container mx-auto px-4 py-6">
  <h1 class="text-3xl font-bold text-center text-gray-800 mb-6">Admin Dashboard</h1>

  <div th:if="${creationSuccess}" class="bg-green-200 p-4 rounded mb-4">
    <p>Workout plan created successfully! (ID: <span th:text="${createdPlan.id}"></span>)</p>
  </div>

  <div th:if="${creationError}" class="bg-red-200 p-4 rounded mb-4">
    <p th:text="${creationError}"></p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

    <div class="card bg-white shadow-md rounded-lg p-6">
      <h2 class="text-xl font-semibold text-gray-800 mb-4">Generate Random Workouts</h2>
      <form hx-post="/admin/generate" hx-target="#workoutGenerationResults" hx-swap="innerHTML">
        <div class="mb-4">
          <input type="checkbox" id="includeAllTags" name="includeAllTags" value="true" class="mr-2">
          <label for="includeAllTags" class="text-gray-700">Include All Tags</label>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4 mb-4">
          <div th:each="tag : ${tagTypes}">
            <input type="checkbox" th:id="${'tag_' + tag}" th:name="selectedTags" th:value="${tag}" class="mr-2">
            <label th:for="${'tag_' + tag}" th:text="${tag.displayName}" class="text-gray-700"></label>
          </div>
        </div>

        <div class="mb-4">
          <label for="numberOfPlans" class="block text-gray-700">Number of Plans:</label>
          <input type="number" id="numberOfPlans" name="numberOfPlans" min="1" value="10" class="border rounded p-2 w-full">
        </div>

        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          Generate
        </button>
      </form>

      <div id="workoutGenerationResults" class="mt-4"></div>
    </div>

    <div class="card bg-white shadow-md rounded-lg p-6">
      <h2 class="text-xl font-semibold text-gray-800 mb-4">Create Workout From JSON</h2>
      <form hx-post="/admin/createFromJson" hx-target="#workoutGenerationResults" hx-swap="innerHTML">
        <div class="mb-4">
          <label for="jsonString" class="block text-gray-700">JSON String:</label>
          <textarea id="jsonString" name="jsonString" rows="10" class="w-full border rounded p-2"></textarea>
        </div>
        <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          Create
        </button>
      </form>
    </div>

  </div>

  <a href="/admin/manage" class="mt-6 inline-block bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">Manage Workouts</a>
</div>

<!-- Loading spinner -->
<div id="loading-spinner" class="fixed inset-0 flex items-center justify-center bg-white bg-opacity-95 hidden">
  <div class="flex flex-col items-center justify-center">
    <!-- This will display the random GIF -->
    <img th:src="${randomGif}" alt="Loading..." class="mb-4" style="width: 10rem; height: 10rem;">
    <!-- Catchy message -->
    <p class="text-lg font-semibold text-center text-orange-500 mb-4">The generation of the workout can take up to 60 seconds, please wait...</p>
    <!-- Progress bar container -->
    <div class="w-full bg-gray-200 h-1.5 rounded">
      <div id="progress-bar" class="bg-orange-500 h-1.5 rounded" style="width: 0%;"></div>
    </div>
  </div>
</div>

</body>
</html>