<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin Login</title>
  <link href="/dist/output.css" rel="stylesheet" />
  <link href="/dist/output.css" rel="stylesheet" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="/assets/logoOnly.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx.org/dist/htmx.min.js"></script>
  <script src="/js/minified/app.min.js"></script>
</head>
<body>
<div class="container mx-auto p-4">
  <h1>Admin Login</h1>

  <div th:if="${loginError}" class="bg-red-200 p-4 rounded mb-4">
    <p th:text="${loginError}"></p>
  </div>

  <form method="POST" th:action="@{/admin/login-admin}">
    <div class="mb-4">
      <label for="username" class="block">Username:</label>
      <input type="text" id="username" name="username" class="border rounded p-2 w-full" required>
    </div>
    <div class="mb-4">
      <label for="password" class="block">Password:</label>
      <input type="password" id="password" name="password" class="border rounded p-2 w-full" required>
    </div>
    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">Login</button>
  </form>
</div>
</body>
</html>