<div>
    <h2 class="text-2xl font-bold mb-4 text-center">Change Password</h2>
    <div class="text-center" id="auth">
    <form hx-post="/auth/change-password" hx-target="#auth" hx-swap="innerHTML" class="flex flex-col">
        <input type="hidden" name="token" th:value="${token}" class="mb-4 p-2 border border-[#B7BFC5] rounded">
        <input type="password" name="newPassword" placeholder="New Password" required class="mb-4 p-2 border border-[#B7BFC5] rounded">
        <button type="submit" class="bg-[#0C8FC2] text-white py-2 rounded hover:bg-[#FF7B3A]">Change Password</button>
    </form>
    </div>
    <div class="text-center mt-4">
        <a href="/login" class="text-[#0C8FC2] hover:underline">Login</a>
    </div>
</div>
