<div>
    <h2 class="text-2xl font-bold mb-4 text-center">Login</h2>
    <form th:action="@{/auth/authenticate}" method="post"  class="flex flex-col">
        <input type="email" name="email" placeholder="Email" required class="mb-4 p-2 border border-[#B7BFC5] rounded">
        <input type="password" name="password" placeholder="Password" required class="mb-4 p-2 border border-[#B7BFC5] rounded">
        <button type="submit" class="bg-[#0C8FC2] hover:bg-[#0C85B8] text-white py-2 rounded">Login</button>
    </form>
    <div class="text-center mt-4">
        |
        <a href="/reset-password"  class="text-[#0C8FC2] hover:underline">Forgot Password?</a>
    </div>
    <!-- Error message placeholder -->
    <p th:if="${param.error}" class="text-center text-red-500 mt-2">Incorrect email or password.</p>
</div>
