<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>The CraftJoy</title>
    <!-- Favicon link -->
    <link rel="shortcut icon" type="image/png" href="/assets/logoOnly.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org/dist/htmx.min.js"></script>
    <script src="/js/minified/app.min.js"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ESYWZL35F7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ESYWZL35F7');
</script>
<body class="bg-[#F5F5F5] flex flex-col justify-center items-center h-screen">
<div class="bg-white rounded-lg shadow-lg p-8 w-full max-w-md">
    <div class="flex flex-col items-center justify-center h-[65px] mb-4">
        <a href="/">
            <img src="/assets/logoSiteBLK.svg" alt="Logo" class="w-[270px]">
        </a>
    </div>
    <div th:if="${checkout}">
        <div class="bg-[#0C8FC2] hover:bg-[#0C85B8] rounded-xl p-4 mb-4">
            <div class="flex flex-col sm:flex-row space-y-2 sm:space-y-0 sm:flex sm:items-center sm:justify-between">
                <div class="flex items-center flex-1">
                    <div class="inline-flex items-center justify-center flex-shrink-0 bg-blue-200 rounded-full w-9 h-9 text-gray-50">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"></path>
                        </svg>
                    </div>
                    <p class="ml-3 text-base font-normal text-gray-100">
                        Total checkout price is <span class="font-bold">$<span th:text="${price}"></span></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="authContent" th:replace="~{${fragment}}"></div>
</div>
</body>
</html>
